{% extends 'wordapp/base.html' %} {% load bootstrap5 %} {% block title %}
显示单词 - LexiQ {% endblock %} {% block content %}
<div class="container mt-5">
  {% for group, words in words_by_group.items %}
  <div class="accordion" id="accordion{{ group.id }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{ group.id }}">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{ group.id }}"
          aria-expanded="true"
          aria-controls="collapse{{ group.id }}"
        >
          {{ group.name }}
        </button>
      </h2>
      <div
        id="collapse{{ group.id }}"
        class="accordion-collapse collapse show"
        aria-labelledby="heading{{ group.id }}"
        data-bs-parent="#accordion{{ group.id }}"
      >
        <div class="accordion-body">
          <ul class="list-group">
            {% for word in words %}
            <li class="list-group-item">
              {{ word.word }} - {{ word.meaning }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
