<!-- game.html -->

{% extends "wordapp/base.html" %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">猜测单词</h1>
  <!-- 显示成功或失败的消息 -->


  <p>汉语意义：{{ word.meaning }}</p>
  <p>单词长度：{{ word.word|length }}</p>

  <!-- 显示每个字母的颜色提示 -->
  <p>颜色提示：</p>
  <div class="d-flex">
    {% for color, letter in combined_list %}
    <div
      class="d-flex align-items-center justify-content-center me-2"
      style="width: 40px; height: 40px; background-color: {% if color == 'green' %}green{% elif color == 'yellow' %}#c9b458{% elif color == 'gray' %}gray{% endif %}; border-radius: 8px; color: white; font-weight: bold;"
    >
      {{ letter }}
    </div>
    {% endfor %}
  </div>

  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="word_id" value="{{ word.id }}" />

    <div class="mb-3">
      <label for="guessInput" class="form-label">输入你的猜测：</label>
      <!-- 使用 value 属性填充上次提交的猜测值 -->
      <input
        type="text"
        class="form-control"
        id="guessInput"
        name="guess"
        value="{{ last_guess }}"
        required
      />
    </div>
    {% if success_message %}
    <div class="alert alert-success" role="alert">
      {{ success_message }}
    </div>
    {% elif error_message %}
    <div class="alert alert-danger" role="alert">
      {{ error_message }}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">提交</button>
    <button type="button" class="btn btn-secondary" id="ttsButton">TTS</button>
  </form>
</div>
<script>
  document.getElementById("ttsButton").addEventListener("click", function () {
    var word = "{{ word.word }}";
    fetch(`/tts/${word}/`) // 发送请求生成音频文件
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        if (data.status === "success") {
          var fileName = data.filename; // 获取音频文件路径
          fetch(`/play-audio/${fileName}/`) // 播放音频文件
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.blob();
            })
            .then((blob) => {
              var audio = new Audio(URL.createObjectURL(blob));
              audio.play();
            })
            .catch((error) => {
              console.error(
                "There was a problem with the fetch operation:",
                error
              );
            });
        } else {
          console.error("Failed to generate audio file");
        }
      })
      .catch((error) => console.error(error));
  });
</script>
{% endblock %}
