{% extends 'wordapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">选择单词分组</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="groupSelect" class="form-label">选择单词分组：</label>
                            <select class="form-select" id="groupSelect" name="group">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-4">开始游戏</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}