{% extends "wordapp/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">学习记录</h1>
    <div class="card text-center title-font">
        <div class="card-header">
            总数
        </div>
        <div class="card-body">
            <p class="card-text">你已经学习了</p>
            <h1 class="card-title display-1">{{ total_records }}</h1>
            <p class="card-text">个单词</p>
        </div>
    </div>
    <!-- 用户成就 -->
    <div class="mt-5">
        <h2 class="mb-3">你的成就</h2>
        {% if user_achievements %}
        <ul class="list-group">
            {% for achievement in user_achievements %}
            <li class="list-group-item">{{ achievement.achievement.name }} - {{ achievement.achievement.description }}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>当前还没有成就</p>
        {% endif %}
    </div>
    <!-- 学习记录表格 -->
    <table class="table mt-5">
        <thead>
            <tr>
                <th>#</th>
                <th>单词</th>
                <th>时间</th>
            </tr>
        </thead>
        <tbody>
            {% for record in study_records %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ record.word }}</td>
                <td>{{ record.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
